﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="eqitcactividadlistar.aspx.cs" Inherits="SolutionS60.WEB.Webpages.Private.Itc.Actividades.eqitcactividadlistar" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
</asp:Content>
